@import "../../scss/abstracts/mixins.scss";

.comment-user {
  padding: 0.8rem;
  border-bottom: 1px solid lightgray;

  &__header {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: flex-start;
    justify-items: center;
    padding: 0 2rem;
  }
  &__image-container {
    display: inline-block;
    overflow: hidden;
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-left: 1rem;
    border-radius: 50%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary);
    font-size: 18px;
    &:hover {
      color: var(--primary-dark);
    }
  }
  &__date {
    font-size: 14px;
    color: lightgray;
    margin-top: 0.4rem;
  }
  &__text {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(241, 235, 235);
    border-radius: 10px;
    position: relative;
  }
  &__like-reply-wrapper {
    @include flex-property-row-start;
    width: 25vw;
    flex-direction: column;
  }

  &__likes-list-container {
    @include flex-property-column;
    justify-content: flex-start;
    padding: 2rem;
    background-color: rgb(245, 234, 234);
    position: fixed;
    top: 13%;
    left: 23.4%;
    height: 79vh;
    width: 52.6vw;
    border-radius: 16px 0 0 16px;
    z-index: 4;
  }

  &__likes-header {
    width: 38rem;
    @include flex-property-row-start;
  }
  &__close-likes-comment {
    cursor: pointer;
  }
  &__reply-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: .3rem;
    color: var(--purple);
    font-weight: 700;
  }

}

.comment-user:nth-child(2) {
  margin-top: 1rem;
}

.add-comment__btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.submit-cancel__btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .comment-user {
    padding: 0.6rem 0;
    &__image-container {
      height: 40px;
      width: 40px;
    }
    &__date {
      margin-top: 0;
      font-size: 11px;
    }
    &__text {
      padding: 0.5rem;
    }
  }
  .edit-comment__form textarea {
    width: 15rem;
  }
}
