.likes-link-small {
  span {
    text-decoration: none;
    margin: 0.4rem;
    font-weight: 700;
    color: white;
    font-family: "Open sans";
  }
  i {
    color: white;
  }
}
.likes-small-empty {
  color: white;
}

