* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color palette */
  --primary: #764ba2;
  --primary-dark: #57327c;
  --primary: rgb(236, 8, 103);
  --primary-dark: rgb(163, 20, 80);
  --primary-disabled: rgb(211, 134, 166);
  --secondary: #f09819;
  --secondary-dark: #d68719;
  --nav-hover: #f5d8af;
  --blue: rgba(112, 131, 241, 0.7);
  --yellow: rgba(240, 236, 29, 0.7);
  --purple: rgba(206, 14, 142, 0.7);
  --dark: rgba(18, 31, 26, 0.7);
  --red: #f70944b3;
  --red-light: #f53c6ab3;
  --dark: rgb(46, 39, 40);
  --overlay-mask: rgba(48, 52, 58, 0.9);

  /*fonts */
  --font-size-small: 14px;
}
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Sansita Swashed", cursive;
}

h1,
h2 {
  font-family: "Sansita Swashed", cursive;

}
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
p,
a {
  font-family: "Open Sans", sans-serif;
}

label {
  color: rgb(97, 82, 89);
}
.content-wrapper {
  padding: 1rem;
  list-style: none;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.btn {
  background-color: #fff;
  color: rgb(61, 170, 155);
  padding: 1rem;
  font-size: 100%;
  font-weight: 700;
  border-radius: 1rem;
  border-style: none;
  cursor: pointer;
  margin: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-cancel {
  text-decoration: none;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}

.grow2 {
  transition: all 0.2s ease-in-out;
}

.grow2:hover {
  transform: scale(1.1);
}

h3 {
  font-size: 16px;
}

.animate-pop {
  animation: popup 0.25s;
}

.animate-modal {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 11px;
  }
}
