.category-form {
    select {
        padding: .6rem;
        width: 8.9rem;
        border-radius: 5px;
        background-color: #201b23;
        color: white;
        font-family: 'Montserrat';
        border: none;
        cursor: pointer;
    }
    option {
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    select:focus {
        outline: none;
    }
}