@-webkit-keyframes conditionalOpen {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes conditionalOpen {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.edit-photo {
  padding: 7rem 10rem;
  background-color: #f3eded;
  width: 100vw;
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-photo__form {
  padding: 1.5rem 2rem;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.9;
  border: 1px solid lightgray;
  border-radius: 14px;
  font-weight: 700;
  background-color: white;
  width: 40vw;
  -webkit-box-shadow: 0 2rem 2rem rgba(172, 159, 159, 0.5);
          box-shadow: 0 2rem 2rem rgba(172, 159, 159, 0.5);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.edit-photo__cancel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 36vw;
}

.edit-photo i {
  color: var(--primary);
}

.edit-photo__preview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-photo__change-photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-photo__change-photo, .edit-photo__cancel {
  padding: 0.7rem;
  background-color: var(--primary);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  margin: 1.5rem;
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 1rem 1rem rgba(136, 136, 153, 0.3);
          box-shadow: 0 1rem 1rem rgba(136, 136, 153, 0.3);
  width: 7rem;
  margin-top: 2rem;
}

.edit-photo__change-photo:hover, .edit-photo__cancel:hover {
  background-color: var(--primary-dark);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.edit-photo__change-photo:active, .edit-photo__cancel:active {
  outline: none;
}

.edit-photo__change-photo:hover {
  background-color: var(--primary-dark);
}

.edit-photo__cancel {
  background-color: var(--secondary);
}

.edit-photo__cancel:hover {
  background-color: var(--secondary-dark);
}

.edit-photo__hange-photo:active, .edit-photo__cancel:active {
  outline: none;
}

.edit-photo label {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.edit-photo input,
.edit-photo select {
  width: 25rem;
  padding: 0.6rem;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 3px;
  border: 1px solid lightgray;
  margin-top: 0.6rem;
}

.edit-photo textarea {
  height: 15rem;
}

.edit-photo .input-topics-medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-photo .input-topics-medium input {
  width: 20rem;
}

.edit-photo .input-topics-medium__add-btn {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 0.6rem;
  font-size: 1.3rem;
}

.edit-photo__medium-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-photo__medium-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.edit-photo__medium-wrapper p {
  display: block;
}

.edit-photo__medium-item {
  padding: 0.2rem;
  background-color: var(--dark);
  color: var(--dark);
  font-size: 12px;
  margin: 0.2rem;
  border-radius: 3px;
  min-width: 3.1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 12px 15px 0 rgba(51, 51, 51, 0.1);
          box-shadow: 0 12px 15px 0 rgba(51, 51, 51, 0.1);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.edit-photo__medium-item-delete i {
  font-size: 12px;
  cursor: pointer;
  color: whitesmoke;
  margin-left: 0.2rem;
}

.edit-photo__medium-item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 2.1rem;
  padding: 0 0.2rem;
}

.edit-photo__medium-warning {
  color: var(--red);
  font-size: 11px;
}

.edit-photo__btn-save-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-photo__btn-save {
  padding: 0.7rem;
  background-color: var(--primary);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  margin: 1.5rem;
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 1rem 1rem rgba(136, 136, 153, 0.3);
          box-shadow: 0 1rem 1rem rgba(136, 136, 153, 0.3);
  width: 13rem;
}

.edit-photo__btn-save:hover {
  background-color: var(--primary-dark);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.edit-photo__btn-save:active {
  outline: none;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--primary);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .edit-photo__container {
    padding: 4rem 10rem;
  }
}
/*# sourceMappingURL=style.css.map */