@import "../../scss/abstracts/mixins.scss";

.community-user {
<<<<<<< HEAD
  padding: 1rem 1rem;
  @include flex-property-column;
  box-shadow: 0 1rem 1rem rgba(88, 83, 83, 0.6);
  width: 15rem;
=======
  padding: 1rem 2rem;
  @include flex-property-column;
  box-shadow: 0 1rem 1rem rgba(88, 83, 83, 0.6);
  width: 16rem;
>>>>>>> develop
  height: 21rem;
  text-decoration: none;
  color: var(--primary-dark);
  border-radius: 3px;

  &__image-container {
    display: inline-block;
    overflow: hidden;
<<<<<<< HEAD
    height: 110px;
    width: 110px;
=======
    height: 130px;
    width: 130px;
>>>>>>> develop
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 50%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    text-align: center;
    margin-top: 1.7rem;
    text-decoration: none;
    color: var(--primary);
    text-decoration: none;
    &:hover {
      color: var(--primary-dark);
    }
  }

  &__body {
    height: 9rem;
  }

  &__details {
    list-style: none;
    @include flex-property-column;
    li {
      margin-top: 0.6rem;
<<<<<<< HEAD
      font-family: "Open sans";
      color: var(--dark);
      font-size: 15px;
=======
      font-family: "Roboto";
>>>>>>> develop
    }
  }
}
.user-link__container {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .user {
    width: 20rem;
    height: 24rem;

    &__image-container {
      height: 130px;
      width: 130px;
    }
  }
}
