@import "../../scss/abstracts/mixins.scss";

.photo-sorted {
  @include flex-property-column;
  padding: 1rem;
  box-shadow: 0 0 2rem rgba(225, 216, 216, 0.1);
  line-height: 1.9;
  // width: 15rem;
  // height: 16rem;

  &__image-container {
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
    margin-top: 1rem;
    img {
      width: 100%;
    }
  }
  &__comments {
    @include flex-property-row-center;
    i {
      color: rgba(88, 83, 83, 0.6);
    }
    span {
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 700;
      margin-left: .3rem;
      color: rgba(88, 83, 83, 0.6);
    }

  }
}
