@import "../../scss/abstracts/mixins.scss";
.user-test-switched {
  padding: 0 2rem 5rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.user-test-unswitched {
  @include flex-property-column;
}

.user-details {
  @include flex-property-column;
  padding: 0 2rem;
  line-height: 1.5;
  min-height: 60vh;

  h1 {
    text-align: center;
  }

  &__image-container {
    display: inline-block;
    overflow: hidden;
    height: 172px;
    width: 172px;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 50%;
  }

  &__image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  p {
    margin-top: 1.7rem;
  }
  &__medium-header {
    @include flex-property-column;
  }
  span {
    padding: 0.4rem;
    background-color: var(--dark);
    color: white;
    margin: 0.3rem;
    border-radius: 3px;
    font-size: 12px;
  }
  &__update-btn {
    @include standard-button;
    width: 15rem;
  }

  &__edit {
    text-decoration: none;
  }
  &__gallery {
    h1 {
      text-align: center;
    }
    h4 {
      margin: 2rem 0 0 2rem;
    }
  }
  &__photos {
    margin-top: 3rem;
    @include three-col-grid;
    grid-gap: 1rem;
  }
  &__photos.switched {
    overflow-y: scroll;
    height: 40rem;
  }
  
}

@media screen and (max-width: 1024px) {
  .user-details {
    min-height: 64vh;
    &__gallery {
      min-height: 58vh;
    }
  }
}

@media screen and (max-width: 500px) {
  .user-details {
    padding: 5rem 2rem;
    &__image-container {
      height: 132px;
      width: 132px;
    }
    span {
      line-height: 2.9;
    }
    &__photos {
      grid-template-columns: 1fr;
    }
  }
}
