.comments-link-small {
  span {
    text-decoration: none;
    margin: 0.4rem;
    font-weight: 700;
    color: white;
    font-family: "open sans";
    @media screen and (max-width: 500px) {
      color: var(--color-text);
    }
  }
  i {
    color: white;
    @media screen and (max-width: 500px) {
      color: var(--color-text);
    }
  }
}
.comments-icon {
  color: white;
  @media screen and (max-width: 500px) {
    color: var(--color-text);
  }
}
