.comments-link-small {
  span {
    text-decoration: none;
    margin: 0.4rem;
    font-weight: 700;
    color: white;
    font-family: "open sans";
  }
  i {
    color: white;
  }
}
.comments-icon {
  color: white;
}
