@import "../../scss/abstracts/mixins.scss";

.login {
  @include auth-padding;
  @include full-sizing;
  @include flex-property-row-center;
  background-image: linear-gradient(
      to right,
      rgba(111, 113, 122, 0.8) 0%,
      rgba(46, 43, 49, 0.8) 100%
    ),
    url("https://images.pexels.com/photos/1191503/pexels-photo-1191503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-image: linear-gradient(
      to right,
      rgba(111, 113, 122, 0.8) 0%,
      rgba(46, 43, 49, 0.8) 100%
    ),
    url("https://images.pexels.com/photos/3025620/pexels-photo-3025620.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: top;
  &__form-container {
    padding: 2rem 2rem;
    margin: 2rem 0;
    @include flex-property-column;
    line-height: 1.9;
    border: 1px solid lightgray;
    border-radius: 14px;
    font-weight: 700;
    background-color: white;
    width: 27rem;
    h2 {
      color: rgb(75, 74, 74);
    }
    .input-topics {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 1rem;
      align-items: center;
    }

    

    label {
      align-self: flex-start;
    }

    input {
      width: 20rem;
      padding: 0.6rem;
      font-size: 16px;
      border-radius: 3px;
      border: 1px solid lightgray;
      margin-top: 0.6rem;
    }

    input[type="email"] {
      background: url("../../imgs/envelope-solid.svg");
      background-repeat: no-repeat;
      background-size: 6% auto;
      background-position: 96.5% 50%;
    }

    input[type="password"] {
      background: url("../../imgs/lock-solid.svg");
      background-repeat: no-repeat;
      background-size: 6% auto;
      background-position: 96.5% 50%;
    }
  }
  &__divider {
    margin-top: 1.6rem;
    @include flex-property-row-center;
    hr {
      width: 20px;
      height: 3px;
      width: 20rem;
      border: none;
      border-top: 1px solid #e0e0e0;
      color: #6e6d7a;
      position: relative;
    }
    p {
      font-weight: 700;
      position:absolute;
      margin-top: -5px;
      background: white;
      padding: .1rem .7rem;
      color: rgb(75, 74, 74);
    }
  }

  .google-auth-btn {
    margin-top: 1rem;
    width: 20rem;
    border-radius: 5px;
    background-color: #4285f4;
    cursor: pointer;
    font-weight: 700;
    color: white;
    padding: .7rem;
    border: none;
    @include flex-property-row-center;
    i {
      font-size: 1.4em;
    }
    span {
      margin-left: 1rem;
    }
    :active,
    :focus {
      outline: none;
    }
  }
  .google-auth-btn:hover {
    background-color: #2e70db;
  }

  &__forgot-password {
    text-decoration: none;
    @include flex-property-row-center;
  }

  &__sign-in {
    text-align: center;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-login {
    @include standard-button;
    padding: 0.6rem;
    width: 20rem;
  }
}

@media screen and (max-width: 1024px) {
  .login {
    padding: 4rem 4rem;
    min-height: 69vh;
    &__form {
      height: 27rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .login {
    padding: 1rem 0;
    min-height: 100vh;
    &__form {
      width: 21rem;
      height: 30rem;
      input {
        width: 16rem;
        padding: 0.7rem;
      }
      select {
        width: 8rem;
        padding: 0.8rem;
      }

      textarea {
        width: 20rem;
      }
    
    }
    &__btn-login {
      width: 15rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .login {
    padding: 5rem 0;

    &__form {
      width: 19rem;
      height: 27rem;
    }

    input {
      width: 15rem;
      padding: 0.7rem;
    }

    &__btn-login {
      padding: 0.5rem;
      margin: 0.5rem;
      width: 5rem;
      font-size: 13px;
    }
  }
}
