.nav-user-image {
  display: inline-block;
  overflow: hidden;
<<<<<<< HEAD
  height: 32px;
  width: 32px;
  object-fit: cover;
  margin-left: .4rem;
=======
  height: 35px;
  width: 35px;
  object-fit: cover;
  margin-left: 1rem;
>>>>>>> develop
  border-radius: 50%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
<<<<<<< HEAD
@media screen and (max-width: 1024px) {
  .nav-user-image {
    margin-left: 7rem;

  }
}
@media screen and (max-width: 768px) {
  .nav-user-image {
    margin-left: 5rem;

  }
}
@media screen and (max-width: 500px) {
  .nav-user-image {
    height: 22px;
    width: 22px;  
    margin-left: 1.8rem;
  }
}
=======
>>>>>>> develop
