.nav-user-image {
  display: inline-block;
  overflow: hidden;
  height: 32px;
  width: 32px;
  object-fit: cover;
  margin-left: .4rem;
  border-radius: 50%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .nav-user-image {
    height: 22px;
    width: 22px;  
    margin-left: 1.8rem;
  }
}
