.nav-user-image {
  display: inline-block;
  overflow: hidden;
  height: 32px;
  width: 32px;
  object-fit: cover;
  margin-left: 1rem;
  border-radius: 50%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.hide-desktop {
  display: none;
}
@media screen and (max-width: 500px) {
  .nav-user-image {
    display: none;
  }
  .hide-desktop {
    display: block;
    margin-left: 1.8rem;
    font-size: 23px;
  }
}
