@import "../../scss/abstracts/mixins.scss";

.add-photo {
  padding: 9rem 10rem;
  background-color: rgb(243, 237, 237);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  &__form {
    padding: 1.5rem 2rem;
    margin: 2rem 0;
    @include flex-property-column;
    line-height: 1.9;
    border: 1px solid lightgray;
    border-radius: 14px;
    font-weight: 700;
    background-color: white;
    width: 32rem;
    box-shadow: 0 2rem 2rem rgba(172, 159, 159, 0.5);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  &__cancel-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__input-topics {
    @include flex-property-column;
    margin: 0.5rem;
    align-items: center;
  }
  i {
    color: var(--primary);
  }

  label {
    align-self: flex-start;
    color: var(--dark);
  }
  
  input,
  select {
    width: 25rem;
    padding: 0.6rem;
    font-size: 16px;
    font-family: "Open sans";
    border-radius: 3px;
    border: 1px solid lightgray;
    margin-top: 0.6rem;
  }

  textarea {
    height: 15rem;
  }

  .input-topics-medium {
    @include flex-property-row-center;
    input {
      width: 20rem;
    }
    &__add-btn {
      border: none;
      background: none;
      cursor: pointer;
      margin-top: 0.6rem;
      font-size: 1.3rem;
    }
  }
  &__medium-wrapper {
    @include flex-property-row-start;
    flex-wrap: wrap;
    margin-top: 1rem;
    p {
      display: block;
    }
  }

  &__medium-item {
    padding: 0.2rem;
    background-color: var(--dark);
    color: var(--dark);
    font-size: 12px;
    margin: 0.2rem;
    border-radius: 3px;
    min-width: 3rem;
    color: white;
  }

  &__medium-item-header {
    @include flex-property-row-end;

    i {
      font-size: 10px;
      cursor: pointer;
      color: whitesmoke;
    }
  }

  &__medium-item-body {
    @include flex-property-column;
    min-width: 2rem;
  }

  &__warning {
    color: var(--primary);
  }
  &__btn-save-wrapper {
    @include flex-property-row-center;
    width: 100%;
  }

  &__btn-save {
    @include standard-button;
    margin-top: 1rem;
    width: 25rem;
  }
}

.input-topics {
  @include flex-property-column;
  margin: 1rem;
}

.file-btn {
  padding: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .add-photo {
    padding: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .add-photo {
    padding: 0;
    input {
      padding: 0.7rem;
    }
    select {
      padding: 0.8rem;
    } 
    &__btn-save {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 320px) {
  .add-photo__container {
    padding: 0rem 2rem;
  }
}
