@import "../../scss/abstracts/mixins.scss";

.like-comment__btn {
  border: none;
  background-color: transparent;
  border-radius: 3px;
  font-family: "Montserrat";
  font-weight: 700;
  cursor: pointer;
  padding: 0;

  :active {
    outline: none;
  }
}

.like-comment__btn:active {
  outline: none;
}
.like-comment__form__container {
  @include flex-property-row-center;
  
}
.like-comments-num {
  font-size: 12px;
}

.likes-comments-box {
  width: 18rem;
  background-color: rgb(242, 247, 248);
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 42%;
  left: 40%;
  transition: ease-in-out 0.5s;
  padding: 0.5rem;
  animation: fadein 0.3s ease-in;
  box-shadow: 0 1rem 1rem rgba(88, 83, 83, 0.6);
  &__header {
    display: flex;
    justify-content: flex-end;
    i {
      color: var(--primary);
    }
  }

  &__body {
    @include flex-property-column;
    justify-content: space-between;
    line-height: 1.8;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .like-comments__container {
    top: 31%;
    left: 13%;
  }
}
