@import "../../../scss/abstracts/mixins.scss";

.navbar-user {
  @include flex-property-row-center;
  list-style: none;
  margin-left: 28rem;
  i {
    color: whitesmoke;
    font-size: 1.2em;
  }
  .user-link {
    margin-left: 0.7rem;
  }
  span {
    margin-left: 0.5rem;
  }
}
@media screen and(max-width: 1024px) {
  .navbar-user {
    margin-left: 0;
  }
}
