@import "../../../scss/abstracts/mixins.scss";

.navbar-user {
  @include flex-property-row-center;
  list-style: none;
  margin-left: 35rem;
}
@media screen and(max-width: 1024px) {
  .navbar-user {
    margin-left: 0;
    i {
      font-size: 1em;
    }

  }
}
