@import "../../../scss/abstracts/mixins.scss";

.navbar-user {
  @include flex-property-row-center;
  list-style: none;
  &__link {
    @include flex-property-row-center;
  }
}
.nav-user-link {
  @include flex-property-row-center;
  span {
    margin-left: .3rem;
  }
}
@media screen and(max-width: 1024px) {
  .navbar-user {
    margin-left: 0;
    i {
      font-size: 24px;
    }

  }
}
