.footer {
  padding: 2rem 4rem;
  background-color: rgb(17, 45, 58);
  display: flex;
  justify-content: space-between;
  width: 100vw;
  &__logo {
    font-family: "Sansita Swashed", cursive;
    color: white;
  }
  &__app-author,
  &__link {
    color: white;
    font-size: 15px;
  }
  &__link a {
    text-decoration: none;
    color: skyblue;
  }
}

@media screen and (max-width: 500px) {
  .hide-mobile {
    display: none;
  }
}
