@import "../../scss/abstracts/mixins.scss";

.photo-sorted {
  @include flex-property-column;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(88, 83, 83, 0.6);
  line-height: 1.9;
  // width: 15rem;
  // height: 16rem;

  &__image-container {
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
    margin-top: 1rem;
    img {
      width: 100%;
    }
  }
  &__likes {
    font-family: "Roboto";
    span {
      margin-left: 0.3rem;
    }
  }
}

