@import "../../scss/abstracts/mixins.scss";

.gallery-photo {
  @include flex-property-column;
  border: 1px solid rgba(201, 214, 216, 0.5);
  margin: 0.2rem;
  width: 24rem;
  border-radius: 3px;
  cursor: pointer;
  padding: 2.4rem 1rem;
  background-color: white;

  &__image {
    width: 100%;
    margin-top: 1rem;
    border-radius: 3px;
  }

  &__body {
    @include flex-property-row-center;
    justify-content: space-between;
    width: 20rem;
  }
  &__likes {
    @include flex-property-row-center;
    margin-top: 0.6rem;
  }
}

.view-photo__link {
  text-decoration: none;
  color: var(--primary-dark);
}

@media screen and (max-width: 1024px) {
  .gallery-photo {
    width: 19rem;
    &__body {
      width: 16rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .gallery-photo {
    width: 22rem;
  }
}

@media screen and (max-width: 320px) {
  .gallery-photo {
    width: 19.2rem;
    &__body {
      width: 16rem;
    }
  }
}
