@import "../../scss/abstracts/mixins.scss";

.comments {
<<<<<<< HEAD
  padding: 1.5rem 1rem;
=======
  padding: 5rem 5rem;
>>>>>>> develop
  background-color: var(--overlay-mask);
  @include flex-property-row-center;
  position: relative;
  z-index: 4;
<<<<<<< HEAD
  min-height: 100vh;

  &__wrapper {
    width: 40rem;
    height: 93vh;
=======

  &__wrapper {
    width: 36rem;
    height: 30rem;
>>>>>>> develop
    background-color: white;
    padding: 1.4rem 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 14px;
<<<<<<< HEAD
    position: relative;  
=======

>>>>>>> develop
    h3 {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 2rem;
      color: darkgray;
    }

    h4 {
      text-align: center;
      color: rgb(180, 170, 170);
    }
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    i {
      color: var(--primary-dark);
<<<<<<< HEAD
      margin-left: 1rem;
    }
  }
  &__body {
    padding: 1.4rem 3rem;
  }
=======
    }
  }
>>>>>>> develop

  &__add-comment-wrapper {
    @include flex-property-row-center;
  }
  &__add-comment-btn {
    @include standard-button;
    margin-top: 2rem;
<<<<<<< HEAD
    width: 20rem;
    padding: .6rem;
    @include flex-property-row-center;
    i {
      color: white;
      font-size: 1.3em;
      margin-left: .5rem;
    }
=======
    width: 12rem;
>>>>>>> develop
  }
}

.btn-save {
  margin: 0.7rem;
  margin-top: 2rem;
}

<<<<<<< HEAD
@media screen and (max-width: 768px) {
  .comments {
    padding: 2rem 1rem;
    align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .comments {
    padding: .5rem .5rem;
    &__wrapper {
      height: 99vh;
    }
    &____header {
      grid-template-columns: 25% 75%;
    }
  }

  
=======
@media screen and (max-width: 500px) {
  .comments-container {
    padding: 3rem 0.6rem;
    min-height: 81vh;
  }

  .comment-user__header {
    grid-template-columns: 25% 75%;
  }

  .comments-wrapper {
    height: 42rem;
  }
>>>>>>> develop

  .add-comment__form textarea {
    width: 19rem;
    height: 11rem;
  }
}

<<<<<<< HEAD

=======
@media screen and (max-width: 320px) {
  .comments-container {
    padding: 2rem 0.6rem;
  }

  .add-comment__form textarea {
    width: 15rem;
    border: 1px solid lightgray;
  }
}
>>>>>>> develop
