@import "../../scss/abstracts/mixins.scss";

.viewphoto {
  padding: 2.5rem 0;
  background-color: var(--overlay-mask);
  z-index: 4;
  width: 100vw;
  min-height: 170vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__nested-container {
    position: absolute;
    top: -3%;
  }
  &__exit-header {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    align-items: center;
    margin-top: 3rem;
    z-index: 6;
    width: 90vw;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
  }

  &__container {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    border: 1px solid lightgray;
    border-radius: 14px;
    width: 65vw;
    color: var(--dark);
    background-color: rgb(247, 243, 243);
    padding: 1rem 7rem;
  }

  &__header {
    padding: 1rem 0;
    width: 51vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__back-to-photos {
    color: white;
    border: 1px solid rgba(247, 243, 243, 0.8);
    padding: 0.5rem 0.8rem;
    height: 3rem;
    width: 3rem;
    border-radius: 3px;
  }

  &:hover {
    color: whitesmoke;
    transform: translateY(-0.1rem);
  }

  &__edit-delete {
    display: flex;
    justify-content: flex-end;
  }

  &__edit-photo-link {
    margin-right: 1rem;
    color: var(--dark);
  }

  &:hover {
    margin-right: 1rem;
    transform: translateY(-0.1rem);
    color: var(--secondary);
  }

  &__delete-photo-link {
    color: var(--primary);
  }
  &:hover {
    color: var(--red);
    transform: translateY(-0.1rem);
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    color: var(--primary);
    text-decoration: none;
    h3 {
      margin: 2rem;
      font-size: 17px;
    }
  }
  &__image {
    width: 60%;
    align-self: center;
  }
  &__body {
    padding: 2rem 2rem;
    @include flex-property-column;
    justify-content: space-evenly;
    line-height: 1.7;
  }
  &__author-info {
    @include flex-property-row-center;
    flex-direction: row-reverse;
  }
  &__author-image-container {
    display: inline-block;
    overflow: hidden;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__author-link {
    text-decoration: none;
  }
  &__show-info {
    @include flex-property-row-center; 
    span {
      margin-left: .4rem;
      margin-top: .8rem;
    }
  }
  &__info-btn {
    margin-top: 1rem;
    color: rgb(73, 60, 60);
    cursor: pointer;
  }
  &__info {
    @include flex-property-column;
    margin-top: 1rem;
    span {
      padding: 0.3rem;
      background-color: var(--dark);
      color: white;
      margin: 0.2rem;
      border-radius: 3px;
      font-size: 12px;
    }
  }
  &__hide-info {
    @include standard-button;
    width: 11rem;
    padding: 0.5rem;
  }
  &__comments-link-container {
    @include flex-property-row-center;
    margin-left: 1rem;
  }
  .comments-link {
    text-decoration: none;
  }
  &__comments-icon {
    color: rgb(66, 58, 58);
  }
}

.viewphoto-description {
  color: rgb(14, 13, 13);
  line-height: 1.8;
  margin-top: 2rem;
}
.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

button {
  padding: 1rem;
}

.btn-edit,
.btn-delete {
  padding: 1.2rem;
  background-color: rgb(81, 165, 199);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin: 1rem;
  font-family: "Montserrat";
  margin: 1.5rem;
  width: 8rem;
}

.btn-delete {
  background-color: #ee2031;
  text-decoration: none;
}

.btn-edit:hover {
  background-color: rgb(85, 152, 194);
  transform: translateY(-0.1rem);
}
.btn-delete:hover {
  background-color: rgb(177, 43, 43);
  transform: translateY(-0.1rem);
}

.view-photo__author__link {
  text-decoration: none;
  color: var(--primary);
}

.view-photo__author__link:hover {
  color: var(--primary-dark);
}

.likephoto-comments__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-heart,
.full-heart {
  color: var(--red);
  cursor: pointer;
}

.comments-number {
  margin-left: 0.6rem;
  margin-top: -0.7rem;
  font-weight: 700;
  color: rgb(75, 71, 71);
}

.comments-num__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-left: 0.7rem;
}

.comments-length {
  margin-left: 0.7rem;
}

.comments-num__container span {
  color: rgb(75, 71, 71);
  margin-left: 0.5rem;
}

.slider-arrow__left,
.slider-arrow__right {
  color: whitesmoke;
  z-index: 10;
}

.slider-arrow__left:hover,
.slider-arrow__right:hover {
  color: rgb(226, 215, 215);
}

@media screen and (max-width: 1024px) {
  .viewphoto {
    min-height: 100vh;

    &__exit-header {
      width: 101vw;
    }
    &__container {
      width: 98vw;
    }
    &__header {
      width: 83vw;
    }
  }
  
  .viewphoto-wrapper {
    padding: 5rem 1rem;
    min-height: 100vw;
    margin-top: 0;
  }

  .viewphoto-body {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 500px) {
  .viewphoto {
    padding: 1rem 0;

    &__exit-header {
      width: 110vw;
      margin-top: 2rem;
    }
    &__container {
      width: 100vw;
      color: var(--dark);
      background-color: #f7f3f3;
      padding: 2rem 0rem;    
    }
    &__header {
      width: 96vw;
  }
  &__edit-delete-wrapper i {
      height: 2rem;
      width: 2rem;
  }
  }

  .header-container {
    flex-direction: column;
    align-items: center;
  }
  h3 {
    margin: 0.7rem;
  }

  .viewphoto-wrapper {
    grid-template-columns: 1fr;
    padding: 0.5rem;
    align-items: baseline;
  }

  .viewphoto-container,
  .viewphoto-body {
    width: 23.2rem;
    padding: 1rem 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .viewphoto-body h2 {
    font-size: 16px;
    text-align: center;
  }

  .viewphoto-header {
    padding: 1rem 1rem;
    width: 91vw;
  }

  .viewphoto-description {
    line-height: 1.1;
  }

  .buttons-wrapper {
    margin-top: 0;
  }

  .edit-photo__link,
  .delete-photo__link {
    padding: 0.1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 1.2rem;
    font-family: "Montserrat";
    margin: 0.1rem;
    width: 3rem;
  }

  .slider-arrow__left,
  .slider-arrow__right {
    margin: 0.7rem;
  }

  .comments-num__container {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .viewphoto {
    min-height: 130vh;
  }
  .viewphoto-container,
  .viewphoto-body {
    width: 19.5rem;
  }
}
