.like-user__container {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    padding: .8rem;
    border-bottom: 1px solid lightgray;

}

.like-user__container:nth-child(2) {
    margin-top: 1rem;
}

.like-image-container {
    display: inline-block;
    overflow: hidden;
    height: 60px;
    width: 60px; 
    object-fit: cover;
    margin-left: 1rem;
    border-radius: 50%;
}

.like-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.like-user__container p {
    font-size: 18px;
}

.like-user__name {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary)
}

.like-user__name:hover {
    color: var(--primary-dark);
}