.comment-reply-user {
  padding: 0.8rem;
  border-bottom: 1px solid lightgray;

  &__header {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    width: 20rem;
  }
  &__image-container {
    display: inline-block;
    overflow: hidden;
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-left: 1rem;
    border-radius: 50%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary);
    font-size: 15px;
    &:hover {
      color: var(--primary-dark);
    }
  }
  &__delete-btn {
    color: var(--red);
    margin-top: 0.7rem;
    cursor: pointer;
    margin-left: 1rem;
  }
  &__date {
    font-size: 14px;
    color: lightgray;
    margin-top: 0.4rem;
  }
  &__text {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(241, 235, 235);
    border-radius: 10px;
  }
  &__edit-btn {
    color: var(--blue);
    cursor: pointer;
    margin-top: 0.7rem;
  }
  &__like-reply-comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__reply-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

}

.comment-user:nth-child(2) {
  margin-top: 1rem;
}

.add-comment__btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.submit-cancel__btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .comment-user {
    padding: 0.6rem 0;
    &__image-container {
      height: 40px;
      width: 40px;
    }
    &__date {
      margin-top: 0;
      font-size: 11px;
    }
    &__text {
      padding: 0.5rem;
    }
  }
  .edit-comment__form textarea {
    width: 15rem;
  }
}
