@import "../../scss/abstracts/mixins.scss";

.edit-comment {
  textarea {
    margin-top: 1.5rem;
    width: 22rem;
    font-family: "Open sans";
    padding: 0.7rem;
    font-size: 16px;
    animation-name: appear;
    transition: 1s ease-in-out;
    animation-duration: 1s;
    border: 1.8px solid rgba(200, 200, 200, 0.5); 
  }
  &__comment-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--secondary);
    &:hover {
      color: skyblue;
    }
    &:active {
      outline: none;
    }
  }
  &__edit-btn,
  &__delete-btn {
    cursor: pointer;
    font-family: "Monserrat";
  }
  &__edit-btn {
    color: var(--blue);
  }
  &__delete-btn {
    color: var(--secondary);
  }
  &__edit-btn:active,
  &__delete-btn:visited {
    outline: none;
  }
}
