@import "../../scss/abstracts/mixins.scss";

.edit-comment {
  .input-topics {
    position: relative;
  }
  textarea {
    margin-top: 1.5rem;
    width: 22rem;
    font-family: "Open sans";
    padding: 0.7rem;
    font-size: 16px;
    animation-name: appear;
    transition: 1s ease-in-out;
    animation-duration: 1s;
    border: 1.8px solid rgba(200, 200, 200, 0.5); 
  }
  &__emoji-menu {
    position: absolute;
    top: 55%;
    left: 120%;
    .emoji-mart-emoji {
      span {
        cursor: pointer;
      }
    }
  }
  &__emoji-btn,
  &__emoji-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 27%;
    left: 69%;
    :active {
      outline: none;
    }
    i {
      font-size: 1.7em;
      color: darkgrey;
    }
  }
  &__comment-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--secondary);
    &:hover {
      color: skyblue;
    }
    &:active {
      outline: none;
    }
  }
  &__edit-btn,
  &__delete-btn {
    cursor: pointer;
    font-family: "Monserrat";
  }
  &__edit-btn {
    color: var(--blue);
  }
  &__delete-btn {
    color: var(--secondary);
  }
  &__edit-btn:active,
  &__delete-btn:visited {
    outline: none;
  }
}
