.edit-comment {
  textarea {
    margin-top: 1.5rem;
    width: 22rem;
    font-family: "Roboto";
    padding: 0.7rem;
    font-size: 16px;
    animation-name: appear;
    transition: 1s ease-in-out;
    animation-duration: 1s;
  }
  &__comment-btn {
    background-color: transparent;
    border: none;
  }
  &__edit-btn,
  &__delete-btn {
    cursor: pointer;
  }
  &__edit-btn {
    color: var(--blue);
  }
  &__delete-btn {
    color: var(--secondary);
  }
  &__edit-btn:active,
  &__delete-btn:visited {
    outline: none;
  }
}
