@import "../../scss/abstracts/mixins.scss";

.community-header {
  padding: 0 5rem;
  h1 {
  text-align: center;
  color: var(--overlay-mask);
  font-family: "Sansita Swashed", cursive;
}
&__paragraph {
  margin-top: 2rem;
  line-height: 2;
}
&__link {
  text-decoration: none;
}
&__btn-container {
  margin-top: 2rem;
  @include flex-property-row-center;
  button {
    @include standard-button;
    width: 15rem;
    text-decoration: none;
  }
}
}
@media screen and (max-width: 768px) {
  .community-header {
  padding: 0 1rem;
  }
}
