@import "../../scss/abstracts/mixins.scss";

.community-header {
  h1 {
  text-align: center;
  color: rgb(150, 132, 132);
  font-family: "Sansita Swashed", cursive;
}
&__paragraph {
  margin-top: 2rem;
  line-height: 1.7;
}
&__btn-container {
  @include flex-property-row-center;
  button {
    @include standard-button;
    width: 15rem;
    text-decoration: none;
  }
}
}
