@import "../../scss/abstracts/mixins.scss";

.pagination {
  @include flex-property-column;
  margin: 3rem;
  h4 {
    text-align: center;
  }
  &__wrapper {
    @include flex-property-row-center;
    margin-top: 1rem;
  }
  &__item {
    list-style: none;
    margin: 0.05rem;
  }
  &__btn {
    @include circled-button;
  }
}
