@import "../../scss/abstracts/mixins.scss";

.add-comment-form {
  label {
    margin-left: 2.4rem;
  }
  textarea {
    margin-top: 1.5rem;
    width: 26rem;
    height: 13rem;
    font-family: "Open sans";
    padding: 0.4rem;
    font-size: 16px;
  }
  &__btn-wrapper {
    @include flex-property-row-center;
    margin-top: 1rem;
  }
  &__btn-submit,
  &__btn-cancel {
    @include standard-button;
    padding: 0.4rem;
    width: 8rem;
  }
  &__btn-cancel {
    background-color: var(--secondary);
  }
}
@media screen and (max-width: 500px) {
  .add-comment-form {
    textarea {
      width: 19rem;
    }
  }
}
