@import "../../scss/abstracts/mixins.scss";

.add-comment-form {
  label {
    margin-left: 2.4rem;
  }
  .input-topics {
    position: relative;
    @include flex-property-row-center;
    flex-direction: row;
    textarea {
      margin-top: 1.5rem;
      width: 26rem;
      height: 3.5rem;
      font-family: "Open sans";
      padding: 0.9rem;
      font-size: 16px;
      border-radius: 25px;
      border: 1.8px solid rgba(200, 200, 200, 0.5); 
    }
    textarea:focus {
      outline: none;
    }
  }
  &__emoji-menu {
    position: absolute;
    top: -508%;
    left: 10%;
    .emoji-mart-emoji {
      span {
        cursor: pointer;
      }
    }
  }
  &__emoji-btn,
  &__emoji-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 35%;
    left: 70%;
    :active {
      outline: none;
    }
    i {
      font-size: 1.7em;
      color: darkgrey;
    }
  }
  &__btn-wrapper {
    @include flex-property-row-center;
    margin-top: 1rem;
  }
  &__btn-submit,
  &__btn-cancel {
    border-radius: 50px;
    border: none;
    background-color: rgb(22, 125, 165);
    padding: .5rem;
    cursor: pointer;
    margin: .2rem;
    @include flex-property-column;
    i {
      font-size: 1.6em;
      color: white;
    }
    
  }
  &__btn-cancel {
    background-color: var(--secondary);
  }
}
@media screen and (max-width: 500px) {
  .add-comment-form {
    textarea {
      width: 19rem;
    }
  }
}
