.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13rem 8rem;
}

.about-paragraph__container {
    margin-top: 2rem;
    line-height: 1.7;
}

.most-liked-photos__container {
    padding: 4rem 5rem;
    margin-top: 3rem;

}

.most-liked-photos__wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

}

.most-liked-photos__link {
    text-decoration: none;
}
.photo-sorted__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 1rem 1rem rgba(88, 83, 83, 0.6);
    line-height: 1.9;
    width: 15rem;
    height: 16rem;



}

.photo-sorted__image__container {
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
    margin-top: 1rem;
}

.photo-sorted__image__container img {
    width: 100%;
}

.photo-sorted__likes {
    font-family: 'Montserrat'
}

.users-title {
    margin-top: 3rem;
    text-align: center;
}
.users-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;
    margin-top: 3rem;

}

.user-container {
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1rem 1rem rgba(88, 83, 83, 0.6);
    width: 20rem;
    height: 26rem;
    text-decoration: none;
    color: var(--primary-dark);

}

.user-link__container {
    text-decoration: none;
}
.user-image__container {
    display: inline-block;
    overflow: hidden;
    height: 152px;
    width: 152px; 
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 50%;

}

.user-image__container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-name {
    text-align: center;
    margin-top: 1.7rem;
    text-decoration: none;
    color: var(--primary);
    text-decoration: none;
}

.user-name:hover {
    color: var(--primary-dark);
}
.user-details {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-details li {
    margin-top: .6rem;
}

@media screen and (max-width: 1024px) {
    .user-container {
        width: 20rem;
        height: 24rem;
    
    }

    .user-image__container {
        height: 130px;
        width: 130px; 
     
    
    }

}
@media screen and (max-width: 768px) {
    .users-wrapper {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .most-liked-photos__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .about-container {
        padding: 5rem 1rem;
    }

    .most-liked-photos__wrapper {
        grid-template-columns: 1fr;
    }
    .users-wrapper {
        grid-template-columns: 1fr;
        
    }
}