.add-photo__container {
    padding: 7rem 10rem;
    background-color: rgb(243, 237, 237);
    width: 100vw;
    display: flex;
    justify-content: center; 
}

.add-photo__form {
    padding: 2rem 2rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.9;
    border-radius: 5px;
    font-weight: 700;
    background-color: white;    
    width: 40vw; 
    box-shadow: 0 2rem 2rem rgba(172, 159, 159, 0.5);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s


}

.cancel-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 36vw;

}

.input-topics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}



label {
    align-self: flex-start;
}

.add-photo__form input {
    width: 25rem;
    padding: .6rem;
    font-size: 16px;
    font-family: 'Montserrat';
    border-radius: 3px;
    border: 1px solid lightgray;
    margin-top: .6rem;
}
textarea {
    height: 15rem;
}
.file-btn {
    padding: 1.4rem;
}

.btn-save__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-save {
    padding: .7rem;
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    margin: 1.5rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;

  
    
}

.btn-save:hover {
    background-color: var(--primary-dark);
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.btn-save:active {
    outline: none;
}

@media screen and (max-width: 768px) {
    .add-photo__form {
        width: 58vw; 

    }
}

@media screen and (max-width: 500px) {
   
    .add-photo__container {
        padding: 6rem 2rem;
        min-height: 100vh;
        
    }

    .add-photo__form {
        width: 92vw;
    }

    .cancel-wrapper {
        width: 82vw;

    }

    .add-photo__form input {
        width: 16rem;
        padding: .7rem;

    }
    select {
        width: 8rem;
        padding: .8rem;
    }

    textarea {
        width: 20rem;
    }

    .btn-save{
        width: 7rem;
        font-size: 14px;
    }

}

@media screen and (max-width: 320px) {
.add-photo__container {
    padding: 0rem 2rem;
}
}
