.login-form__container {
    padding: 8rem 10rem;
    background-color: rgb(243, 237, 237);
    width: 100vw;
    display: flex;
    justify-content: center; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 2rem 2rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.9;
    border: 3px solid lightgray;
    border-radius: 5px;
    font-weight: 700;
    background-color: white;     
    width: 27rem;


}

.cancel-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 55vw;

}

.input-topics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}



label {
    align-self: flex-start;
}
.login-form input {
    width: 20rem;
    padding: .6rem;
    font-size: 16px;
    font-family: 'Montserrat';
    border-radius: 3px;
    border: 1px solid lightgray;
    margin-top: .6rem;
}
textarea {
    height: 15rem;
}
.file-btn {
    padding: 1.4rem;
}

.btn-save__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login {
    padding: .7rem;
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    margin: .8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;

  
    
}

.btn-login:hover {
    background-color: var(--primary-dark);
    transform: scale(1.03);
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 850px) {
    .login-form {
        height: 27rem;
    }
}

@media screen and (max-width: 500px) {
    .login-form__container {
        padding: 1rem 0;

    }
   
    .add-photo__container {
        padding: 6rem 2rem;
        min-height: 100vh;
        
    }

    .login-form {
        width: 23rem;
        height: 30rem;
    }

    input {
        width: 11rem;
        padding: .7rem;

    }
    select {
        width: 8rem;
        padding: .8rem;
    }

    textarea {
        width: 20rem;
    }

    .btn-save, .btn-cancel {
        padding: .6rem;
        margin: .6rem;
        width: 4rem;
        font-size: 14px;
    }

}
