.navbar {
    padding: 1rem;
    background-color: transparent;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-link {
    text-decoration: none;
    margin: 2rem;
    color:  var(--primary);
    font-weight: 700;   

}

.user-link {
    text-decoration: none;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.03);
}

@media screen and (max-width: 500px) {
    .navbar-links {
        flex-direction: column;
    }

    .navbar-link {
        margin-top: 1rem;
    }

    
}