.navbar {
    padding: 1rem;
    background-color: rgb(17, 45, 58);
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    width: 100vw;
    height: 4rem;
    
}


.navbar-links__left,
.navbar-links__right {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-link {
    text-decoration: none;
    margin: 2rem;
    color:  whitesmoke;
    font-weight: 700;   

}

.user-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.03);
}

.nav-user-image-container {
    display: inline-block;
    overflow: hidden;
    height: 40px;
    width: 40px; 
    object-fit: cover;
    margin-left: 1rem;
    border-radius: 50%;

}

.nav-user-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .navbar-links {
        flex-direction: column;
    }

    .navbar-link {
        margin-top: 1rem;
    }

    
}