.gallery-photo__container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(201, 214, 216, 0.5);
    margin: .2rem;
    width: 24rem;
    border-radius: 3px;
    cursor: pointer;
    padding: 2rem 1.5rem;
    background-color: white;

}

.gallery-photo__title {
    text-align: center;
    color: var(--dark);


}

.view-photo__link {
    text-decoration: none;
    color: var(--primary-dark);
}

.gallery-photo__image {
    width: 100%;
    margin-top: 1rem;
    border-radius: 3px;
    
}

.gallery-photo__description {
    margin-top: 1rem;
    
}

.author-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.author, 
.author-link {
    margin-top: 1rem;

}


.author-image-container {
    display: inline-block;
    overflow: hidden;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;

  }

.author-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
   
}

.author-link {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-dark);
}

.likes-comments__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .6rem;
}

.likes-num,
.comments-num {
    text-decoration: none;
    margin: .4rem;
    font-weight: 700;
   
}

.likes-num {
    color: var(--red);
    font-family: 'Montserrat';
}

.comments-num {
    color: var(--secondary);
    font-family: 'Montserrat';

}



.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.03);
}

.grow2 { 
    transition: all .2s ease-in-out; 
}

.grow2:hover { 
    transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
    .gallery-photo__container {
        width: 19rem;
    
    }

}

@media screen and (max-width: 500px) {
    .gallery-photo__container {
        width: 22rem;
    }
}

@media screen and (max-width: 320px) {
    .gallery-photo__container {
        width: 19.2rem;
    }
}