.gallery-photo__container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(229, 243, 245, 0.5);
    margin: .2rem;
    width: 22rem;
    border-radius: 3px;
    cursor: pointer;
    padding: 2rem 1.5rem;
    background-color: white;

}

.gallery-photo__title {
    text-align: center;


}

.view-photo__link {
    text-decoration: none;
    color: var(--primary-dark);
}

.gallery-photo__image {
    width: 100%;
    margin-top: 1rem;
    border-radius: 3px;
    
}

.gallery-photo__description {
    margin-top: 1rem;
    
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.03);}

.grow2 { transition: all .2s ease-in-out; }
.grow2:hover { transform: scale(1.1);}

