.delete-photo__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 237, 237);
}

.delete-photo__wrapper {
  padding: 3rem 2rem;
  background-color: white;
  width: 30rem;
}

.delete-photo__cancel-wrapper {
  display: flex;
  justify-content: flex-end;
}

.warning {
  color: var(--violet);
  margin-top: 2rem;
}

.delete-btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  padding: 0.7rem;
  background-color: var(--red);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  margin: 1.5rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.delete-btn:hover {
  transform: translateY(-0.1rem);
}

.delete-btn:active {
  outline: none;
}
