.logo {
  background-color: rgb(236, 8, 103);
  padding: 0.7rem;
  border-radius: 3px;
  font-weight: 700;
  margin: 0;
  text-decoration: none;
  color: white;
  height: 3rem;
  font-size: 20px;
  font-family: "Sansita Swashed", cursive;
}
