@import "../../scss/abstracts/mixins.scss";

.community {
  // @include flex-property-column;
  align-items: center;
  padding: 13rem 8rem;
  background-color: #fcfafa;
  &__most-commented,
  &__most-liked,
  &__users {
    padding: 3rem 5rem;
    margin-top: .5rem;
    h4 {
      font-family: "Sansita Swashed", cursive;
      color: var(--overlay-mask);
      margin-bottom: 1rem;
    }
  }
  &__most-commented-wrapper,
  &__most-liked-wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  &__most-commented-link,
  &__most-liked-link {
    text-decoration: none;
  }
  &__users-wrapper {
    @include four-col-grid;
    grid-gap: 1rem;
    margin-top: 3rem;
  }
  &__users-link-container {
    text-decoration: none;
  }
}

.users-title {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .community {
    &__most-commented-wrapper,
    &__most-liked-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
    &__users-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 500px) {
  .community {
    padding: 8rem 1rem;
    &__most-commented-wrapper,
    &__most-liked-wrapper {
    grid-template-columns: 1fr;
  }
   &__users-wrapper {
    grid-template-columns: 1fr;
  }
  }
  .photo-sorted__card {
    // width: 20rem;
    // height: 20rem;
  }
 
}
