@import "../../scss/abstracts/mixins.scss";

.community {
  @include flex-property-column;
  align-items: center;
  padding: 13rem 8rem;
  background-color: rgb(247, 239, 239);
  &__most-commented,
  &__most-liked {
    padding: 4rem 5rem;
    margin-top: 3rem;
  }
  &__most-commented-wrapper,
  &__most-liked-wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  &__most-commented-link,
  &__most-liked-link {
    text-decoration: none;
  }
  &__users-wrapper {
    @include three-col-grid;
    grid-gap: 1rem;
    margin-top: 3rem;
  }
}

.users-title {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .community {
    &__most-commented-wrapper,
    &__most-liked-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
    &__users-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 500px) {
  .community {
    padding: 8rem 1rem;
    &__most-commented-wrapper,
    &__most-liked-wrapper {
    grid-template-columns: 1fr;
  }
   &__users-wrapper {
    grid-template-columns: 1fr;
  }
  }
  .photo-sorted__card {
    width: 20rem;
    height: 20rem;
  }
 
}
