@import "../../scss/abstracts/mixins.scss";

.navbar {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 2;
  &__home {
    background-color: transparent;

  }
  &__list-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  &__list-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
  }
  &__list-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  li {
    margin: 0.5rem 1.1rem;
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    padding: 0.4rem 0 0.4rem 0;
    i {
      font-size: 20px;
    }
    span {
      margin-left: 0.6rem;
    }
    :link {
      color: white;
    }
  }
  &__link.scrolled {
    i,
    span {
      color: var(--white);
    }
  }
  &__link:hover {
    color: grey;
  }
}

.navbar.scrolled {
  background-color: #1c0529;
}

.user-link {
  text-decoration: none;
  @include flex-property-row-center;
  color: rgb(75, 74, 74);
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 1020px) {
  .navbar {
    padding: 1rem;
    height: 5rem;
    grid-template-columns: 13% 87%;
    &__list-left {
      justify-content: flex-start;
    }
    &__list-right {
      justify-content: flex-end;
    }
  }

  .navbar-link,
  .user-link {
    font-size: 18px;
    margin: 0;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 3.3rem;
    grid-template-columns: 25% 75%;
    bottom: 0;
    background-color: #1c0529;
    padding: 0.2rem 0;
    &__list-left, 
    &__list-right {
      width: 100%;
      justify-content: space-around;
    }
    &__link {
      i {
        font-size: 20px;
        color: white;
      }
    }
    &__link.scrolled {
      i,
      span {
        color: white;
      }
    }
    span {
      display: none;
    }
  }
  .navbar.active {
    background-color: black;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    grid-template-columns: 33% 67%;
  }

  .navbar-link,
  .user-link {
    font-size: 23px;
    margin: 0;
  }
}
