@import "../../scss/abstracts/mixins.scss";

.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  z-index: 2;
  &__list-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 100vw;
  }
  &__list-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100vw; 
  }
  &__link {
    text-decoration: none;
    font-weight: 700;
    margin-left: 1.4rem;
    padding: .4rem 0 .4rem 0;
    i {
      color: var(--primary);
      font-size: 1.1em;
    }
    span {
      color: var(--primary);
      margin-left: .3rem;
    }
    :link {
      color: white;
    }
  }
  &__link.scrolled {
    i, span {
      color: rgb(75, 74, 74);
    }
  }
  &__link:hover {
    color: grey;
  }
}

.navbar.active {
  background-color: rgb(208, 219, 224);
}

.user-link {
  text-decoration: none;
  @include flex-property-row-center;
  color: rgb(75, 74, 74);
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 1rem;
    height: 5rem;
    grid-template-columns: 13% 87%;
    &__list-left {
      justify-content: space-evenly;
    }
    &__list-right {
      justify-content: space-evenly;
      margin-left: -9rem;
    }
    span {
      display: none;
    }
  }
  
  .navbar-link,
  .user-link {
    font-size: 18px;
    margin: 0;
    color: white;
  }
  .logo {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    height: 3.3rem;
    grid-template-columns: 25% 75%;
    bottom: -.1rem;
    background-color: black;
    padding: .2rem 0;

    &__list-right {
      justify-content: space-evenly;
      margin-left: -3rem;
    }
    &__link {
      margin-left: .3rem;
      i {
        font-size: 1em;
        color: white;
      }
    }
    &__link.scrolled {
      i, span {
        color: white;
      }
    }
   
  }
  .navbar.active {
    background-color: black;
  }
 
}

@media screen and (max-width: 320px) {
  .navbar {
    grid-template-columns: 33% 67%;
  }

  .navbar-link,
  .user-link {
    font-size: 23px;
    margin: 0;
  }
}

