.search-form {
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  input {
    width: 44vw;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    font-family: "open sans";
    border: 1px solid white;
    color: white;
  }

  input[type="text"] {
    background: url("../../imgs/search-solid.svg");
    background-repeat: no-repeat;
    background-size: 6% auto;
    background-position: 96.5% 50%;
  }

  input:focus {
    outline: none;
  }
}


@media screen and (max-width: 1024px) {
  .search-form {
    width: 67vw;
  }
}

@media screen and (max-width: 500px) {
  .search-form {
    input {
      padding: .5rem;
      font-size: 8px;
      width: 44vw;
      margin-top: -2rem;
    }
  }
}
