@import "../../scss/abstracts/mixins.scss";

.edit-user {
  padding: 5rem 10rem;
  background-color: rgb(243, 237, 237);
  width: 100vw;
  display: flex;
  justify-content: center;

  &__form {
    padding: 2rem 2rem;
    margin: 2rem 0;
    @include flex-property-column;
    line-height: 1.9;
    border: 1px solid lightgray;
    border-radius: 14px;
    font-weight: 700;
    background-color: white;
    width: 35rem;
  }

  &__cancel-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 38vw;
  }

  label {
    align-self: flex-start;
  }
  .input-topics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
  }

  input,
  textarea {
    width: 25rem;
    padding: 0.6rem;
    font-size: 16px;
    font-family: "Roboto";
    border-radius: 3px;
    border: 1px solid lightgray;
    margin-top: 0.6rem;
  }
  textarea {
    height: 9rem;
  }
  &__image-label {
    align-self: center;
  }

  &__preview-image {
    margin-top: 1.5rem;
    @include flex-property-column;
  }
  &__change-photo,
  &__remove-photo,
  &__cancel-photo {
    @include standard-button;
    width: 7rem;
  }
  &__remove-photo,
  &__cancel-photo {
    background-color: var(--secondary);
  }

  .input-topics-medium {
    @include flex-property-row-center;
    input {
      width: 20rem;
    }
    &__add-btn {
      border: none;
      background: none;
      cursor: pointer;
      margin-top: 0.6rem;
      font-size: 1.3rem;
    }
  }

  &__mediums-container {
    @include flex-property-column;
  }

  &__mediums-wrapper {
    @include flex-property-row-start;
    flex-wrap: wrap;
    margin-top: 1rem;
    p {
      display: block;
    }
  }

  &__medium-item {
    padding: 0.2rem;
    background-color: var(--dark);
    color: var(--dark);
    font-size: 12px;
    margin: 0.2rem;
    border-radius: 3px;
    min-width: 3.1rem;
    color: white;
    @include flex-property-row-center;
    @include shadow-trans;
  }

  &__medium-item-delete {
    i {
      font-size: 12px;
      cursor: pointer;
      color: whitesmoke;
      margin-left: 0.2rem;
    }
  }

  &__medium-item-body {
    @include flex-property-column;
    min-width: 2.1rem;
    padding: 0 0.2rem;
  }

  &__medium-warning {
    color: var(--red);
    font-size: 11px;
  }

  &__btn-save-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-save {
    @include standard-button;
    width: 13rem;
  }
}

@media screen and (max-width: 1024px) {
  .edit-user {
    padding: 7rem 5rem;

    &__form {
      width: 37rem;
      line-height: 1.7;
    }
    &__cancel-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 49vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .edit-user {
    &__cancel-wrapper {
      width: 57vw;
    }
  }
}

@media screen and (max-width: 500px) {
  .edit-user {
    padding: 5rem 2rem;
    min-height: 100vh;
    &__form {
      width: 23rem;
    }
    &__cancel-wrapper {
      width: 81vw;
    }
    input,
    textarea {
      width: 18rem;
      padding: 0.7rem;
    }
    .input-topics-medium {
      input {
        width: 14rem;
      }
      &__add-btn {
        border: none;
        background: none;
        cursor: pointer;
        margin-top: 0.6rem;
        font-size: 1.3rem;
      }
    }
    &__medium-item {
      min-width: 4rem;
    }
    textarea {
      width: 20rem;
      height: 14rem;
    }
    &__btn-save,
    &__btn-cancel {
      padding: 0.6rem;
      margin: 0.6rem;
      width: 10rem;
      font-size: 14px;
    }
  }

  .warning-msg {
    color: var(--red);
  }
}
