.edit-user-form__container {
  padding: 5rem 10rem;
  background-color: rgb(243, 237, 237);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.edit-user__form {
  padding: 2rem 2rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.9;
  border: 3px solid lightgray;
  border-radius: 5px;
  font-weight: 700;
  background-color: white;
  width: 35rem;
}

.user-cancel-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 38vw;
}

.input-topics {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}

label {
  align-self: flex-start;
}

.image-label {
  align-self: center;
}

.edit-user__form input,
.edit-user__form textarea {
  width: 25rem;
  padding: 0.6rem;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 3px;
  border: 1px solid lightgray;
  margin-top: 0.6rem;
}

.edit-image__preview__container {
  margin-top: 1.5rem;
}

.file-btn {
  padding: 1.4rem;
}

.btn-save__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-register {
  padding: 0.7rem;
  background-color: var(--primary);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  margin: 1.5rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-register:hover {
  background-color: var(--primary-dark);
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .register-form__container {
    padding: 7rem 5rem;
  }
  .edit-user__form {
    width: 37rem;
    line-height: 1.7;
  }
  .user-cancel-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 49vw;
  }
}

@media screen and (max-width: 768px) {
  .user-cancel-wrapper {
    width: 57vw;
  }
}

@media screen and (max-width: 500px) {
  .edit-user-form__container {
    padding: 5rem 2rem;
    min-height: 100vh;
  }

  .edit-user__form {
    width: 23rem;
  }
  .user-cancel-wrapper {
    width: 81vw;
  }

  .edit-user__form input,
  .edit-user__form textarea {
    width: 19rem;
    padding: 0.7rem;
  }
  select {
    width: 8rem;
    padding: 0.8rem;
  }

  textarea {
    width: 20rem;
  }

  .btn-save,
  .btn-cancel {
    padding: 0.6rem;
    margin: 0.6rem;
    width: 4rem;
    font-size: 14px;
  }
}

.warning-msg {
  color: var(--red);
}
