@import "../../scss/abstracts/mixins.scss";

.add-photo-link__container {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  &__wrapper {
    margin-top: 3rem;
    padding: 0 2rem;
    @include three-col-grid;
    grid-gap: 2rem;
  }
}

.photo-gallery {
  padding: 2rem 3rem;
  background-color: #fcfafa;
  @include flex-property-column;
  min-height: 100vh;
  position: relative;
}

.pull-to-refresh {
  cursor: pointer;
}

.pull-to-refresh__wrapper {
  @include flex-property-column;
}

.pull-to-refresh__wrapper i {
  margin-top: 0.6rem;
  color: var(--primary);
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.login-msg {
  margin-top: 2rem;
}

.error-container {
  @include flex-property-column;
}

.error-container h1 {
  margin-top: 1rem;
  text-align: center;
}

.btn-refresh {
  padding: 0.7rem;
  background-color: var(--red);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin: 1.5rem;
  width: 4rem;
  @include flex-property-row-center;
  font-size: 15px;
}

.btn-refresh:hover {
  background-color: var(--red-light);
}

.btn-refresh:active {
  outline: none;
}

.empty-gallery__title {
  @include flex-property-column;
  min-height: 50vh;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}
.pagination > .active > a {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}
.pagination > li > a {
  border: 1px solid var(--primary);
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: var(--primary);
  border-color: var(--primary);
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: var(--primary);
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

@media screen and (max-width: 768px) {
  .photo-gallery__container {
    padding: 3rem 2rem;
  }

  .photo-gallery__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .photo-gallery {
    padding: 1rem 0.6rem;
    &__wrapper {
      grid-template-columns: 1fr;
      padding: 0 2rem 3rem 2rem;
    }
  }

 

  .photo-added__popup {
    top: 22%;
    right: 8%;
  }

  .loading-container h1 {
    font-size: 20px;
  }
}
